<br />
<h2>Siguientes salidas!!!</h2>
<h4>Coge tu sitio y ahorra, no contamines y haz amigos.</h4>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Salida</th>
      <th>Conductor</th>
      <th>Plazas</th>
      <th>Disponibles</th>
      <% if current_user %>
        <th>Unete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @carpools.each do |carpool| %>
      <tr>
        <td><%= link_to carpool.id, carpool_path(carpool) %></td>
        <td><%= carpool.start_address %></td>
        <td><%= carpool.destination_address %></td>
        <td><%= carpool.departure.strftime("%d/%m/%y %H:%M") %></td>
        <td><%= carpool.driver.email %></td>
        <td><%= carpool.seats %></td>
        <td><%= carpool.seats_available %></td>
        <% if current_user %>
          <td>
            <% if carpool.is_compleate? %>
              <%= link_to "Unete!", "" %>
            <% else %>
              Lleno
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

