<br />
<h2>Siguientes salidas!!!</h2>
<h4>Coge tu sitio y ahorra, no contamines y haz amigos.</h4>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Salida</th>
      <th>Conductor</th>
      <th>Plazas</th>
      <th>Disponibles</th>
      <th>Coste Medio</th>
      <% if current_user %>
        <th>Unete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @carpools.each do |carpool| %>
      <tr>
        <td><%= link_to carpool.id, carpool_path(carpool) %></td>
        <td><%= carpool.start_address %></td>
        <td><%= carpool.destination_address %></td>
        <td><%= carpool.departure.strftime("%d/%m/%y %H:%M") %></td>
        <td><%= carpool.driver.email %></td>
        <td><%= carpool.seats %></td>
        <td><%= carpool.seats_available %></td>
        <td><%= carpool.cost %></td>
        <% if current_user %>
          <td>
            <% if carpool.is_compleate? %>
              <%= link_to "Unete!", join_carpool_path(carpool), :class => "btn btn-success" %>
            <% else %>
              Lleno
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag "index.png" %>
      <p style="position: absolute; background: #333; opacity: 0.8; bottom: 0; color: #FFF; padding: 30px 5px; width:100%; font-size: 1.3em; margin: 0;">
        <b>Mejoras:</b> Gamificaci칩n, m치s tipos de transportes, internacionalizaci칩n, rec칩geme en ruta!.
      </p>
    </div>
    <div class="item">
      <%= image_tag "detalleViaje.png" %>
      <p style="position: absolute; background: #333; opacity: 0.8; bottom: 0; color: #FFF; padding: 30px 5px; width:100%; font-size: 1.3em; margin: 0;">
        <b>Descarga la app para tu BB10</b>
      </p>
    </div>
    <div class="item">
      <%= image_tag "infoUsuario.png" %>
      <p style="position: absolute; background: #333; opacity: 0.8; bottom: 0; color: #FFF; padding: 30px 5px; width:100%; font-size: 1.3em; margin: 0;">
        <b>Tus desplazamientos siempre a mano</b>
      </p>
    </div>
    <div class="item">
      <%= image_tag "poolPropios.png" %>
      <p style="position: absolute; background: #333; opacity: 0.8; bottom: 0; color: #FFF; padding: 30px 5px; width:100%; font-size: 1.3em; margin: 0;">
        <b>Desde cualquier lugar del mundo</b>
      </p>
    </div>
  </div>

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>