<%- model_class = Carpool -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:start_address) %>:</strong></dt>
  <dd><%= @carpool.start_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destination_address) %>:</strong></dt>
  <dd><%= @carpool.destination_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:departure) %>:</strong></dt>
  <dd><%= @carpool.departure %></dd>
  <dt><strong><%= model_class.human_attribute_name(:driver_id) %>:</strong></dt>
  <dd><%= @carpool.driver.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seats) %>:</strong></dt>
  <dd><%= @carpool.seats %></dd>
  <dt><strong>Viajeros:</strong></dt>
  <dd>
    <% if !@carpool.users.blank? %>
      <% for u in @carpool.users %>
        <%= u.email %><br />
      <% end %>
    <% else %>
      Viaje vacio<br />
    <% end %>
    
  </dd>
</dl>


<div class="form-actions">
  <%= link_to "Volver",
              carpools_path, :class => 'btn'  %>

</div>
